<script type="text/javascript">
  var array_clientes = [];
  var array_list_clientes = [];
  var remove_clientes = [];
</script>
<ons-list modifier="inset" id="listquestclientes" style="margin-top: 20px;">
<ons-list-header>Clientes agregados actualmente</ons-list-header>
	{{#each data as |user userId| }}
		<ons-list-item  id="view-{{userId}}tabclient" data-avatar="{{avatar}}" data-nombre="{{nombre}}" data-apellidos="{{apellidos}}" >
			<div class="left">
				{{#if user.avatar}}
				<img class="list-item__thumbnail" src="{{user.square}}">
				{{else}}
				<img class="list-item__thumbnail" src="img/avatar.png">
				{{/if}}
			</div>
			<div class="center">
				<span class="list-item__title">{{user.nombre}} {{user.apellidos}}</span><span class="list-item__subtitle">{{user.celular}}</span>
			</div>
			<div class="right">
				 <ons-checkbox input-id="check-{{userId}}-in-view" value="{{email}}" class="checkincheck"
				 onclick="checkedclienteview('check-{{userId}}-in-view', 'view-{{userId}}tabclient');" checked></ons-checkbox>
			</div>
		</ons-list-item>
	{{/each}}
</ons-list>

<script type="text/javascript">
 function checkedclienteview(id, xid){
  var valueCB = document.querySelector('ons-checkbox #'+id).value;
  var chechkedx = document.querySelector('ons-checkbox #'+id).checked;
  if(chechkedx == false){

  	var arrayx = $('#casoclientes').val();
  	arrayx = arrayx.split(",");
  	remove_clientes.push(valueCB);
  	 $.each(arrayx, function(i, value){
  	 	$.each(remove_clientes, function(ix, valuex){
  	 	if(value == valuex){
  	       arrayx.splice(i, ix+1);
  	       remove_clientes.splice(ix, i+1);
  	 	}
  	 	});
  	 });	

  }else{

  	var arrayx = $('#casoclientes').val();
  	arrayx = arrayx.split(",");
  	array_clientes.push(valueCB);
  	if (arrayx == ''){
    arrayx = array_clientes;
  	}else{
  	arrayx = arrayx +','+ array_clientes;	
  	arrayx = arrayx.split(",");
  	}
  }
    var uniqueUsers = [];
	$.each(arrayx, function(i, el){
	    if($.inArray(el, uniqueUsers) === -1) uniqueUsers.push(el);
	});

	$('#counterusers').html(uniqueUsers.length);
	$('#casoclientes').val(uniqueUsers);
  

  arrayx = $('#casoclientes').val();
 }
</script>