<ons-list>
<ons-list-header>Abogados de la firma</ons-list-header>
{{#ifCurrentUser owner}}
{{#each data}}
    <ons-list-item id="{{@index}}abogado" expandable>
      <div class="left">
        <img class="list-item__thumbnail" src="{{square}}">
      </div>
      <div class="center">
        <span class="list-item__title">{{nombre}} {{apellidos}}</span><span class="list-item__subtitle">{{email}}</span>
      </div>
      <div class="expandable-content">
      	<ons-list-item onclick="add_abogado_to_team('{{@index}}abogado', '{{email}}');"> 
      		Agregar al equipo
      	</ons-list-item>
      </div>
    </ons-list-item>
{{/each}}
{{/ifCurrentUser}}

{{#ifnotOwner owner}}
    {{#each data}}
     <ons-list-item id="{{@index}}abogado">
      <div class="left">
        <img class="list-item__thumbnail" src="{{square}}">
      </div>
      <div class="center">
        <span class="list-item__title">{{nombre}} {{apellidos}}</span><span class="list-item__subtitle">{{email}}</span>
      </div>
    </ons-list-item>
    {{/each}}
{{/ifnotOwner}}


</ons-list>
<script>
  function add_abogado_to_team(id, user){
  	    var userSession = window.localStorage.getItem("userSession");
		 userSession = JSON.parse(userSession);
  	    var params_to_send = {
  		 	user: user,
  		 	byuser: userSession.user.email
  		 }
         var url = "{{{productionServer}}}/api/law/add_team";
         $.ajax({
		    url: url,
		    cache: true,
		    data: params_to_send,
		    method: 'POST',
		    success: function(data) {
		      ons.notification.alert(data.notice);
		      $('#'+id).remove();
		    },
		    error: function(err) {
		      callback(null, err);
		    }
		 });
  }
</script>

