<ons-navigator swipeable id="casosNavigator" page="casos.html" animation-options="{duration: 0.2, delay: 0.1, timing: 'ease-in'}" ></ons-navigator>
<template id="casos.html" side="right">
<ons-page id="casospage">
<ons-toolbar class="toolbar" static="true" style="background-color: transparent;">
	<div class="left"></div>
	<div class="center"><b>Casos</b></div>
    <div class="right">
    </div>
</ons-toolbar>
<center>
   No se detectaron casos activos
</center>
{{#ifAbogado}}
<ons-fab position="bottom right" onclick="changePageCasos('agregarcasos.html');">
    <ons-icon icon="md-plus"></ons-icon>
</ons-fab>
{{/ifAbogado}}
</ons-page>
</template>

<template id="agregarcasos.html" side="right">
<ons-page>
<ons-toolbar class="toolbar" static="true">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center">Agregar Caso</div>
    <div class="right">
    </div>
</ons-toolbar>
     <ons-fab position="top right" onclick="changePageCasos('usuarioencasos.html');">
	    <ons-icon icon="ion-android-person-add"></ons-icon>
	</ons-fab>
	<ons-card style="margin-top: 10px;">
    <center>
    <input type="text" id="casotitulo" name="casotitulo" class="text-input text-input--material" placeholder="Título del caso" style="width:90%;"><br/>
    <textarea id="casoresumen" name="casoresumen" class="textarea" style="width:90%;" rows="20" placeholder="Resumen del caso"></textarea><br/><br/>
    <input type="status_del_caso" name="status_del_caso" id="status_del_caso" style="width:90%;" class="text-input text-input--material" placeholder="Estatus del caso"><br/><br/>
    </center>
    <input type="text" id="casoclientes" name="casoclientes" class="text-input text-input--material" placeholder="clientes" style="width:90%; display:none;"><br/>
    <center>
    <p style="font-size:16px;"><i>Usuarios Agregados al caso </i> <span class="notification notification--material" id="counterusers"> 0 </span><br/> <button class="button--quiet" onclick="viewusersincasebeforecreate();"> Usuarios por agregar </butto></p>
   </center><br/>
    <ons-button onclick="createCaso();" class="button" modifier="large">Agregar el caso</ons-button>
   </ons-card>
</ons-page>
</template>

<template id="usuarioencasos.html" side="right">
<ons-page id="usuarioencasos">
<ons-toolbar class="toolbar" static="true">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center">Buscador de clientes</div>
    <div class="right">
    </div>
</ons-toolbar>
     <br/><br/><br/>
     <center>
     <ons-search-input id="csearch"
     placeholder="Buscar"
     onchange="searchINCliente();"
     style="width: 80%; background: #eee; border: solid 1px #000;"
     ></ons-search-input>
   	</center>
</ons-page>
</template>

<template id="verusuarioencasosantesdecrear.html" side="right">
<ons-page id="verusuarioencasosantesdecrear">
<ons-toolbar class="toolbar" static="true">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center">Clientes por agregar</div>
    <div class="right">
    </div>
</ons-toolbar>
     <br/><br/>
</ons-page>
</template>

<template id="vercaso.html" side="right">
<ons-page id="vercaso">
</ons-page>
</template>

<template id="editarcaso.html" side="right">
<ons-page id="editarcaso">
</ons-page>
</template>

<template id="addtodo.html" side="right">
<ons-page id="addtodo">
	<ons-toolbar class="toolbar" modifire="top-border" style="background-color: transparent;">
		<div class="left"><ons-back-button id="addtodoback"></ons-back-button></div>
		<div class="center">Agregar actividad</div>
    </ons-toolbar>
</ons-page>
</template>
<script type="text/javascript">
function changePageCasos(pushpage){
	document.querySelector('#casosNavigator').pushPage(pushpage);
}

$(document).ready(function(){
  updateCasos(false);  	
});


function loadCreateToDO(token){
	  $('#form-actividad').remove();
	  sessiontoken =  window.localStorage.getItem("TokenToDo");
	  if (sessiontoken != token){
	  data = {};
	  tpln = 'crear_actividad';
	  divloadtpl = 'addtodo .page__content';
	  appendView(data, tpln, divloadtpl);
	  var token = token;
	  setTimeout(function(){
	    token = window.localStorage.setItem("TokenToDo", token);
	    var viewtoken = window.localStorage.getItem("TokenToDo");
	  },500);
	  changePageCasos('addtodo.html');
	  }else{
	  setTimeout(function(){
	  data = {};
	  tpln = 'crear_actividad';
	  divloadtpl = 'addtodo .page__content';
	  appendView(data, tpln, divloadtpl);
	  },100);
	  changePageCasos('addtodo.html');
	  }
}

function createToDo(){
	var token = window.localStorage.getItem("TokenToDo");
	var title = document.getElementById('title').value; 
	var init_date = document.getElementById('datepickerinicio').value; 
	var finish_date = document.getElementById('datepickerfinal').value; 
	var description = document.getElementById('description').value; 
	var params_to_send = {
		token: token,
		title: title,
		init_date: init_date,
		finish_date: finish_date,
		description: description
	};
    var url = "{{{productionServer}}}/api/global/caso/create_todo";

    $.ajax({
	    url: url,
	    cache: true,
	    data: params_to_send,
	    method: 'POST',
	    success: function(data) {
	      var caso = JSON.parse(data.caso);
	      ons.notification.alert(data.notice);
	      setTimeout(function(){
	         loadView({"data": caso}, "caso", "vercaso .page__content");
	         $('#addtodoback').trigger( "click" );
	      },100);
	    },
	    error: function(err) {
	      callback(null, err);
	    }
    });

}

function viewCaso(token){
	var params_to_send = {token: token};
    var url = "{{{productionServer}}}/api/global/caso";


    $.ajax({
	    url: url,
	    cache: true,
	    data: params_to_send,
	    method: 'POST',
	    success: function(data) {
	      var caso = JSON.parse(data.caso);
	      loadView({"data": caso}, "caso", "vercaso .page__content");
	      changePageCasos("vercaso.html");
	    },
	    error: function(err) {
	      callback(null, err);
	    }
    });

}

function destroyCaso(token){

	var r = confirm("Esta seguto de querer eliminar este caso, al eliminarlo todos los datos del mismo se perderán");
	if (r == true) {
	var params_to_send = {token: token};
    var url = "{{{productionServer}}}/api/global/destroy";
     $.ajax({
	    url: url,
	    cache: true,
	    data: params_to_send,
	    method: 'POST',
	    success: function(data) {
	      ons.notification.alert(data.notice);
	      $('#'+data.token+'-caso').remove();
	    },
	    error: function(err) {
	      callback(null, err);
	    }
    });
    } else {
    	console.log('No fue eliminado'+ token);
	}
}

function updateCasos(push){
   if(push == true){
   	changePageCasos("casos.html");
   }
   var userSession = window.localStorage.getItem("userSession");
   userSession = JSON.parse(userSession);
   var params_to_send = { user: userSession.user.email};
   var url = "{{{productionServer}}}/api/global/casos";
   $.ajax({
	    url: url,
	    cache: true,
	    data: params_to_send,
	    method: 'POST',
	    success: function(data) {
	      var casos = JSON.parse(data.casos);
	      setTimeout(function(){
	      appendView({"data": casos}, "list_of_casos", "casospage .page__content");
	      }, 1000);
	    },
	    error: function(err) {
	      callback(null, err);
	    }
    });

}

function createCaso(){
  var url = "{{{productionServer}}}/api/law/create_caso";
  var emails = $('#casoclientes').val();
  emails = emails.split(",");
  var userSession = window.localStorage.getItem("userSession");
  userSession = JSON.parse(userSession);
  var titulo =  document.getElementById('casotitulo').value; 
  var resumen =  $('#casoresumen').val(); 
  var status =  document.getElementById('status_del_caso').value; 

  var params_to_send = {
  	emails: emails,
  	byuser: userSession.user.email,
  	titulo: titulo,
  	status: status,
  	resumen: resumen

  };
  $.ajax({
    url: url,
    cache: true,
    data: params_to_send,
    method: 'POST',
    success: function(data) {
      ons.notification.alert(data.notice);
      updateCasos(true);

    },
    error: function(err) {
      callback(null, err);
    }
  });
}

function viewusersincasebeforecreate(){
    var emails = $('#casoclientes').val();
    emails = emails.split(",");
	var url = "{{{productionServer}}}/api/global/select_cliente_view";
	var paramsx = {emails: emails};
	var idx = "verusuarioencasosantesdecrear .page__content";
	appenddexternalpageloadClientes("clientes_list_view", idx, url, paramsx, 'POST');
	$('#csearch .search-input').val('');
    $('#listquestclientes').remove();
    changePageCasos('verusuarioencasosantesdecrear.html');
}

function searchINCliente(){
	var search = $('#csearch .search-input').val();
	var url = "{{{productionServer}}}/api/global/clientes";
	var paramsx = {search: search};
	var idx = "usuarioencasos .page__content";
	appenddexternalpageloadClientes("clientes_list", idx, url, paramsx, 'POST');
	$('#csearch .search-input').val('');
    $('#listquestclientes').remove();

}
</script>
