<ons-page>
	{{#each data as |cita citaID|}}
	<ons-list-item onclick="showModal('{{cita.token}}')" tappable>
	      <div class="left">
	        <img class="list-item__thumbnail" src="{{cita.abogado.avatar}}">
	      </div>
	      <div class="center">
	        <span class="list-item__title"><b>{{cita.abogado.nombre}} {{cita.abogado.apellidos}}</b></span><span class="list-item__subtitle">{{cita.token}}</span>
	      </div>
	</ons-list-item>
	<ons-modal direction="up" id="{{cita.token}}" onclick="hideModal('{{cita.token}}')">
	  <div style="text-align: left; padding: 30px;">
	    <p>
	    	<b>Fecha de tu cita:</b> <br/>{{cita.fecha}}<br/><br/>
	    	{{#if cita.llamada}}
	    	<b>Tipo de cita: </b><br/>Llamada<br/>
	    	{{else}}
	        <b>Tipo de cita: </b><br/> Cita presencial
	    	{{/if}}<br/><br/>
	    	<b>Abogado: </b><br/>{{cita.abogado.nombre}} {{cita.abogado.apellidos}}<br/><br/>
	    	<b>Cliente: </b><br/>{{cita.cliente.nombre}} {{cita.cliente.apellidos}}<br/><br/>
	    	<b>Token: </b><br/>{{cita.token}}<br/><br/>
	    	<b>Celular para contacto: </b><br/>{{cita.cliente.celular}}<br/><br/>
	    	<b>Asunto: </b><br/>{{cita.asunto}}
	    </p>
	  </div>
	</ons-modal>
	{{/each}}
</ons-page>

<script type="text/javascript">
	function showModal(token) {
	  var modal = $("#"+token);
	  modal.show();
	}
	function hideModal(token){
	  var modal = $("#"+token);
	  modal.hide();
	}
</script>