<script type="text/javascript">
  var array_clientes = [];
  var array_list_clientes = [];
</script>
<ons-list modifier="inset" id="listquestclientes" style="margin-top: 20px;">
<ons-list-header>Resultados de la busqueda</ons-list-header>
	{{#each data as |user userId| }}
		<ons-list-item  id="{{userId}}tabclient" data-avatar="{{avatar}}" data-nombre="{{nombre}}" data-apellidos="{{apellidos}}" >
			<div class="left">
				{{#if user.avatar}}
				<img class="list-item__thumbnail" src="{{user.square}}">
				{{else}}
				<img class="list-item__thumbnail" src="img/avatar.png">
				{{/if}}
			</div>
			<div class="center">
				<span class="list-item__title">{{user.nombre}} {{user.apellidos}}</span><span class="list-item__subtitle">{{user.celular}}</span>
			</div>
			<div class="right">
				 <ons-checkbox input-id="check-{{userId}}" value="{{email}}" class="checkincheck"
				 onclick="checkedcliente('check-{{userId}}', '{{userId}}tabclient');"></ons-checkbox>
			</div>
		</ons-list-item>
	{{/each}}
</ons-list>

<script type="text/javascript">
 function checkedcliente(id, xid){
  var valueCB = document.querySelector('ons-checkbox #'+id).value;
  var chechkedx = document.querySelector('ons-checkbox #'+id).checked;
  if(chechkedx == true){
  	var arrayx = $('#casoclientes').val();
  	arrayx = arrayx.split(",");
  	array_clientes.push(valueCB);

  	if (arrayx == ''){
    arrayx = array_clientes;
  	}else{
  	arrayx = arrayx +','+ array_clientes;	
  	arrayx = arrayx.split(",");
  	}
    
  	var uniqueUsers = [];
		$.each(arrayx, function(i, el){
		    if($.inArray(el, uniqueUsers) === -1) uniqueUsers.push(el);
		});

		$('#counterusers').html(uniqueUsers.length);
    $('#casoclientes').val(uniqueUsers);
  } 

  arrayx = $('#casoclientes').val();
 }
</script>	