<ons-toolbar class="toolbar" static="true" style="background-color: transparent;">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center"></div>
    <div class="right">
    </div>
</ons-toolbar>
<p style="margin-top: 13px; font-size: 18px; text-align: center; font-weight: bold;">
{{data.titulo}}
</p>
{{#ifAbogado}}

<ons-fab position="bottom right" onclick="loadCreateToDO('{{data.numero_expediente}}');">
    <ons-icon icon="md-plus"></ons-icon>
</ons-fab>
{{/ifAbogado}}
<ons-card modifier="material modifier2" style="overflow:auto; min-height:300px; max-height: 3850px; ">
	 <div class="content">
			<i>Expediente: {{data.numero_expediente}}</i><br/><br/>
		    <button class="button--quiet" onclick="showTabs('tab1')"> Pendientes</button>
		    <button class="button--quiet" onclick="showTabs('tab3')"> Cumplidos</button>
		    <button class="button--quiet" onclick="showTabs('tab2')"> Resumen </button>
	        <button class="button--quiet" onclick="showTabs('tab4')"> Clientes</button>
	        <button class="button--quiet" onclick="showTabs('tab5')"> Abogados</button>
			<div id="tab1" class="tab">
				{{#ifCond data.variables.chart true}}
			    <div style="width: 100%;">
	          	<div class="w3-section w3-dark-grey" style="width:100%;">
				  <div class="w3-green w3-green w3-center" style="width:{{ data.variables.porcentaje_de_cumplimiento}}%">{{ data.variables.porcentaje_de_cumplimiento}}% </br> de {{ data.variables.actividades_del_caso}} actividades.</div>
			    </div>
			    </div>
			    {{/ifCond}}
			   <ons-list style="max-height:400px; overflow:auto;">
			   <ons-list-header>Pendientes <span class="notification notification--material">{{ data.variables.actividades_pendientes}}</span></ons-list-header>
				{{#each data.todos as |todo|}}
				    <ons-list-item  id="item{{todo.id}}" expandable>
				       {{#ifAbogado}}
				       <label class="left">
				        <ons-checkbox input-id="check-{{todo.id}}" value="{{todo.id}}" id="{{todo.id}}-check"></ons-checkbox>
				      </label>
				      {{/ifAbogado}}
				      <div class="center">
				        <span class="list-item__title"><h3> {{todo.title}} </h3></span>
				      </div>
				      
				       <div class="expandable-content">
				      	 <span class="list-item__subtitle"> <b>Descripción:</b> <br/> {{todo.description}} </span><br/><br/>
				      	 <span class="list-item__subtitle"><b>Temporalidad:</b> <br/> {{todo.init_date}} - {{todo.finish_date}} </span> <br/><br/><br/>
				      	 {{#ifAbogado}}
				      	 <ons-button input-id="delte-todo-{{todo.id}}" onclick="deleteTodo('{{todo.id}}', 'item{{todo.id}}')">Eliminar</ons-button>
				      	 {{/ifAbogado}}
				       </div>
    				 </ons-list-item>  

    				 <script type="text/javascript">
    				 	$("ons-checkbox#{{todo.id}}-check").click(function(){
    				 		var r = confirm("Al marcarse como completada, esta actividad será contabilizada como realizada y no se podrá volver a activar");
	                        if (r == true) {
    				 		var checkedt = this.checked;
    				 		var valcheck = this.value;
	    				        if(checkedt == true){
	    				 			var params_to_send = {id: valcheck}
	    				 			var url = "{{{productionServer}}}/api/global/caso/update_todo_true";
								    $.ajax({
									    url: url,
									    cache: true,
									    data: params_to_send,
									    method: 'POST',
									    success: function(data) {
									      var caso = JSON.parse(data.caso);
									      ons.notification.alert(data.notice);
									      setTimeout(function(){
									       loadView({"data": caso}, "caso", "vercaso .page__content");
									      },200);
									    },
									    error: function(err) {
									      callback(null, err);
									    }
								    });
							    }
							}else{
							    var checkedt = this.setAttribute('checked',"checked");
							    checkedt = this.removeAttribute('checked');
							}
    				 	});
    				 </script>  
				{{/each}}
			    </ons-list>
			</div>
			<div id="tab2" class="tab" style="display:none;">
			<p style="text-align:justify;">{{data.resumen_del_caso}}</p>
		    </div>
		    <div id="tab3" class="tab" style="display:none;">
		    	<ons-list style="max-height:400px; overflow:auto;">
			    <ons-list-header>Realizadas <span class="notification notification--material">{{ data.variables.actividades_realizadas}}</span></ons-list-header>
				{{#each data.acomplishment as |todo|}}
				    <ons-list-item id="item{{todo.id}}" expandable>
				      <div class="center">
				        <span class="list-item__title"><h3>{{todo.title}}</h3></span>
				      </div>
				     
				      <div class="expandable-content">
				      	 <span class="list-item__subtitle"> <b>Descripcción:</b> <br/> {{todo.description}} </span><br/><br/>
				      	 <span class="list-item__subtitle"><b>Temporalidad:</b> <br/> {{todo.init_date}} - {{todo.finish_date}} </span> <br/><br/>
				         <span class="list-item__subtitle"><b>Realizado el: </b> <br/> {{todo.realizado}} </span><br/><br/>
				         {{#ifAbogado}}
				      	 <ons-button input-id="delte-todo-{{todo.id}}" onclick="deleteTodo('{{todo.id}}', 'item{{todo.id}}')">Eliminar</ons-button>
				      	 {{/ifAbogado}}
				      </div>
    				 </ons-list-item>    
				{{/each}}
			    </ons-list>
		    </div>
		    <div id="tab4" class="tab" style="display:none;">
		    	<ons-list>
		    	<ons-list-header>Clientes</ons-list-header>

		    	{{#each data.clientes as |cliente|}}
		    	     <ons-list-item id="{{@index}}cliente" expandable>

					 <div class="left">
				       {{#if cliente.avatar}}
						<img class="list-item__thumbnail" src="{{cliente.square}}">
						{{else}}
						<img class="list-item__thumbnail" src="img/avatar.png">
						{{/if}}
				      </div>
				      <div class="center">
				        <span class="list-item__title">{{cliente.nombre}} {{cliente.apellidos}}</span><span class="list-item__subtitle">{{cliente.email}}</span>
				      </div>
				      

				      <div class="expandable-content">
				      	<ons-list-item  tappable>
				      	<a href="tel: {{cliente.celular}}" class="button--large--quiet"> Celular <ons-icon icon="fa-phone"></ons-icon> </a>
				      	<br/>
				        </ons-list-item>
				      	<ons-list-item  tappable>
				      	<a href="mailto: {{cliente.email}}" class="button--large--quiet"> Email  <ons-icon icon="ion-email"></ons-icon> </a> <br/>
				      	</ons-list-item>
				      	<ons-list-item tappable>
				      	<a class="button--large--quiet" onclick="remove_cliente_by_caso('{{@index}}cliente','{{cliente.email}}');"> 
				      		Eliminar del caso </a>
				      	</ons-list-item>
				      </div>
				      </ons-list-item>
				{{/each}}
			    </ons-list>
		    </div>
		    <div id="tab5" class="tab" style="display:none;">
		    	<p style="font-size: 18px; color#000; padding-left: 15px; font-weight: bold;">Líder del caso</p>
				{{#each data.abogados as |abogado|}}
				   <ons-list-item>
				   		 <div class="left">
				        <img class="list-item__thumbnail" src="{{abogado.square}}">
				      </div>
				      <div class="center">
				        <span class="list-item__title">{{abogado.nombre}} {{abogado.apellidos}}</span><span class="list-item__subtitle">{{abogado.email}}</span>
				      </div>
				   </ons-list-item>


				{{/each}}
		    	<ons-list>
		    	<ons-list-header>Abogados</ons-list-header>

		    	{{#each data.equipos as |equipo|}}
				{{#each equipo.equipo as |abogado|}}
				   <ons-list-item id="{{@index}}abogado" expandable>

					 <div class="left">
				        <img class="list-item__thumbnail" src="{{abogado.square}}">
				      </div>
				      <div class="center">
				        <span class="list-item__title">{{abogado.nombre}} {{abogado.apellidos}}</span><span class="list-item__subtitle">{{abogado.email}}</span>
				      </div>
				      

				      <div class="expandable-content"><br/>
				      	<ons-list>
				      	<ons-list-item  tappable>
				      	<a href="tel: {{abogado.celular}}" class="button--large--quiet"> Celular <ons-icon icon="fa-phone"></ons-icon> </a>
				      	<br/>
				        </ons-list-item>
				      	<ons-list-item  tappable>
				      	<a href="mailto: {{abogado.email}}" class="button--large--quiet"> Email  <ons-icon icon="ion-email"></ons-icon> </a> <br/>
				      	</ons-list-item>
				      	<ons-list>
				      </div>
				      </ons-list-item>
				{{/each}}
			    {{/each}}
			    </ons-list>
		    </div>
	 </div>
</ons-card>

<script>
   function showTabs(tab){
   	  $('.tab').hide();
   	  $('#'+tab).show();
   }

   function remove_cliente_by_caso(id, email){
   	  var token = "{{data.numero_expediente}}";
   	  var r = confirm("¿Esta seguro que desea eliminar el cliente del caso?");
	    if (r == true) {
	   	    var params_to_send = {email: email, token: token}
			var url = "{{{productionServer}}}/api/global/caso/delete_cliente";
		    $.ajax({
			    url: url,
			    cache: true,
			    data: params_to_send,
			    method: 'POST',
			    success: function(data) {
			      ons.notification.alert(data.notice);
			      $('#'+id).remove();
			    },
			    error: function(err) {
			      callback(null, err);
			      ons.notification.alert(err.notice);
			    }
		    });
	    }

   }

   function deleteTodo(id, div){
   	    var r = confirm("¿Esta seguro que desea eliminar la actividad de la lista del caso?");
	    if (r == true) {
	   	    var params_to_send = {id: id}
			var url = "{{{productionServer}}}/api/global/caso/delete_todo";
		    $.ajax({
			    url: url,
			    cache: true,
			    data: params_to_send,
			    method: 'POST',
			    success: function(data) {
			      ons.notification.alert(data.notice);
			      $('#'+div).remove();
			    },
			    error: function(err) {
			      callback(null, err);
			      ons.notification.alert(err.notice);
			    }
		    });
	    }
   }
</script>